<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it">
	<head class="main" >
	   <meta charset="utf-8">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
		<link rel="stylesheet" href="/css/default.css">
		<title>{{page.title}} | {{site.url}}</title>
	</head>

	<body>
		<header class="home">
			<nav>
				<ul>
					{% for item in site.data.menu %}
					<li>
						<a href="{{ item.link }}">
							{{ item.name }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</nav>

		</header>

		<section class="container">
			{{ content }}
		</section>
	</body>
</html>
